$fb: #5a5a8c;
$tw: #ffffff;
$gw: #b3b3bc;
$w: 100%;
$gris: #f7f7f7;


@mixin height($height) {
	height:$height;
}

@mixin font-size($font) {
	font-size:$font;
}

body {
  font-family:'Raleway', sans-serif;
}

.header {
  background: $fb;
  padding-top:20px;
}

.navbar {
	background: $fb;
	color: $tw;
	margin-bottom: 0;
}

.gray-header {
  background: $gris;
}

.gray-navbar {
  background: $gris;
  & h1 {
    color: $fb;
  }
  .navbar-collapse .nav li a {
    color: #777;
  }
  
  .box-shadow-menu {
  	border: 2px solid #777;
 }

  .box-shadow-menu:before {
      background: #777;
    box-shadow: 0 0.25em 0 0 #777;
  }
}

.collapse ul li a {
	padding-top: 40px;	
	font-size: 1em;
}

.collapse ul li a:hover {
    background: rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #fff;
}

.navbar-collapse {
  	width: 100%;
  	text-align: center;
  	color: white; }

 .navbar-collapse .nav li a {
   	color: white; 
}

.box-shadow-menu {
  	position: relative;
  	margin-top:30px;
  	padding: 15px 18px;
  	border: 2px solid #333;
  	background: transparent; 
 }

.box-shadow-menu:before {
    content: "";
    position: absolute;
    margin: 1px 3px 3px 3px;
    left: 3px;
    top: 10px;
    width: 1.5em;
    height: 0.15em;
    background: #fff;
    box-shadow: 0 0.25em 0 0 #fff;
}

@media (min-width: 768px) {
    .box-shadow-menu {
    display: none; } }

@media (max-width: 768px) {
    .right {
    display: none; } }
    
@media (max-width: 768px) {
  .altas {
    font-size:1.5em; } }


@media (max-width: 768px) {
  .silueta {
    display:none; } }
    

@media (max-width: 768px) {
.litle {
    margin-top:180px !important;
    color: #fff; }
}

@media (max-width: 768px) {
.satisfactory {
    height:1100px !important;
   }
}

@media (max-width: 768px) {
.clientes {
    height:1500px !important;
   }
}


