.section_google_maps{
    position: relative;
    height: 400px;
    width:100%;
    overflow: hidden;
    pointer-events:none;

    iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    }
}