.section_contact_help{

    padding-top:111px;
    
     .container{
        padding:0px;
    }
    
    .style_title_city{
    color:#b3b3bc;
        
    }
    
    .style_title_h2{
    padding-bottom:666px;
    margin:0px;
    }
    
    .style_paragraph_help{
        padding-top:49px;
        margin:0px;
    }
    
    .style_title_news{
        color:#5a5a8c;
        font-weight:800;
        padding-top:34px;
        padding-bottom:8px;
        letter-spacing:1.7px;
        margin:0px;
    }
    
    
    
    
    
    
}