.rwebsites {
    padding-top: 80px;
    text-align: center;
    
    span {
    text-transform: uppercase;
    color: #aaa;
    }
        
    h3 {
        color: $fb;
        margin: 5px 0 60px 0;
        font-size: 28px;
    }
}

.rwebsites-img {
    width: 100%;
    
    img {
        width: 100%;
    }
}

.unique-design {
    background: $gris;
    padding: 80px 0;
    
    span {
    text-transform: uppercase;
    color: #aaa;
    }
        
    h3 {
        color: $fb;
        margin: 5px 0 10px 0;
        font-size: 28px;
    }
}

.ud-img {
    width: 100%;
}

.ud-img img {
    width: 100%;
}

.ud-info {
    margin-top: 100px;
}

.ud-info p {
    line-height: 24px;
}

.ud-info .btn-default {
	background: $fb;
	border: 1px solid transparent;
	color: $tw;
	font-size: 14px;
	width: 150px;
	padding: 10px 0;
	text-transform: uppercase;
}

.ud-info .btn-default:hover {
	background: transparent;
	border: 1px solid $fb;
	color: $fb;
}